body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  font-size: x-large;
  padding: 1%;
  line-height: 150%;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.event-box{
  text-align: center;
  border-radius: 15px;
  padding: 1%;
}

.row {
  white-space: pre-wrap;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  font-size: larger;
  font-weight: bolder;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

/* gives 12am hour-block some breathing room */
#hour-24 {
  margin-bottom: 50px;
}

/* hover */
.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}


